*{
    margin: 0;
    padding: 0;
    font-size: arial;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #081b29;
    color: #fff;
    display: grid;
    justify-content: center;
    align-content: center;
}
::-webkit-input-placeholder{
    color: #eee;
}
.wraper{
    position: relative;
    width: 800px;
    height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #00ffff;
    border-radius: 4px;
    box-shadow:0 0 50px #00ffff;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 35px;
}
.title:hover{
    color:#c800ff;
    cursor: pointer;
    
}
.input-wraper{
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}
input{
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: #0ef;
}
.submit{
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef , #c800ff);
}
.submit:hover{
    font-size: 30px;
    border: 2px solid #c800ff;
    border-radius: 30px;
    /* box-shadow: #00ffff; */
    color: white;
}
.footer{
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.link{
    color: #0ef;
    text-decoration: none;
}
.banner{
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 390px;
    background: linear-gradient(to right, #0ef, #c800ff);
    clip-path: polygon(0 0, 100% 0,  100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.banner h1{
    font-size: 40px;
    margin-top: -135px;
    line-height: 50px;

}
.banner h1:hover{
    color: #081b29;
    cursor: pointer;
    transition: all .45s ease;
    text-decoration: underline;
}

